DOMAIN=localhost

STACK_NAME=


DOCKER_IMAGE_BACKEND=backend

# Backend
BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:4200", "http://localhost:3000", "http://localhost:8080", "https://localhost", "https://localhost:4200", "https://localhost:3000", "https://localhost:8080"]
PROJECT_NAME=URL Shortener
SECRET_KEY=

# Postgres
POSTGRES_SERVER=db
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=url_shortener
